body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.navbar-default {
  background-color:teal;
  background-image: none;
  background-repeat: no-repeat;
 }
